{
    "extends": "eslint:recommended",
    "env": {
      "es6": true,
      "jest": true,
      "node": true
    },
    "rules": {
        "no-multi-spaces":"error",
        "no-irregular-whitespace":"error",
        "no-multiple-empty-lines":"error",
        "indent": ["error", 2]
    }
}